[submodule "thirdparty/cimgui"]
	path = thirdparty/cimgui
	url = git@github.com:cimgui/cimgui.git
[submodule "thirdparty/zpl"]
	path = thirdparty/zpl
	url = git@github.com:zpl-c/zpl.git
[submodule "thirdparty/flecs"]
	path = thirdparty/flecs
	url = git@github.com:SanderMertens/flecs.git
