[submodule "thirdparty/ozz-animation"]
	path = thirdparty/ozz-animation
	url = https://github.com/guillaumeblanc/ozz-animation.git
[submodule "thirdparty/sx"]
	path = thirdparty/sx
	url = git@github.com:zacharycarter/sx.git
[submodule "thirdparty/flecs"]
	path = thirdparty/flecs
	url = git@github.com:zacharycarter/flecs.git
