@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #4d4d4c;
  --background: #ffffff;
  --selection: #d6d6d6;
  --line: #efefef;
  --comment: #8e908c;
  --red: #c82829;
  --orange: #f5871f;
  --yellow: #eab700;
  --green: #718c00;
  --aqua: #3e999f;
  --blue: #4271ae;
  --purple: #8959a8;
  --window: #efefef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #4f044a;
    --background: #2d2f3f;
    --selection: rgba(255, 255, 255, 0.10);
    --line: rgba(255, 255, 255, 0.10);
    --comment: #6272a4;
    --red: #cc6666;
    --orange: #a68358;
    --yellow: #f1fa8c;
    --green: #30866c;
    --aqua: #8abeb7;
    --blue: #81a2be;
    --purple: #bd93f9;
    --pink: #ff79c6;
    --window: #4d5057;
  }
}

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

body {
  background-color: var(--background);
  width: 100%;
  height: 100%;
}

header {
  background-color: var(--foreground);
}

.cm-content {
  font-family: var(--monospace-family);
  font-size: var(--monospace-size);
}

html {
  height: 100%;
}

code {
  white-space: pre;
  font-family: var(--monospace-family);
}

.main-page {
  display: flex;
  flex-direction: column;
}

.voodoo {
  height: 100%;
  overflow: hidden;
}

.voodoo > * {
  overflow: hidden;
}
